@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 32%;
    padding: 0 0.5rem;
    background-color: rgba(249, 174, 29, 0.9);

    border-radius: 5%;

    margin: 0 auto;
    margin-top: 5%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    .title {
        margin: 0;
        line-height: 1.15;
        font-size: 1.5rem;
        text-align: center;

        margin-top: 15%;

        color: var(--darkBlue-moura);
        font-family: 'Fira Sans Extra Condensed', sans-serif;

    }

    .buttonArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 5%;

        width: 100%;

        .buttonCreate {
            width: 80%;
            height: 50px;

            border-radius: 5px;
            border: none;

            background-color: var(--darkBlue-moura);
            color: white;

            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            cursor: pointer;

            transition: 0.4s;

            margin-bottom: 7%;

            display: flex;

            text-align: center;
            text-decoration: none;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--darkYellow-moura);
                color: var(--darkBlue-moura);
            }
        }

        .buttonSearch {
            width: 100%;
            max-width: 20%;
            height: 50px;

            border-radius: 5px;
            border: none;

            background-color: var(--darkBlue-moura);
            color: var(--darkBlue-moura);

            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Fira Sans Extra Condensed', sans-serif;

            cursor: pointer;
            transition: 0.4s;

            &:hover {
                background-color: var(--darkYellow-moura);
            }
        }

        .separator {
            font-size: 0.9rem;
            font-weight: bold;

            color: var(--darkBlue-moura);

            display: flex;
            align-items: center;

            margin-bottom: 7%;

            &::before {
                content: '—';
                margin-right: 16px;
            }

            &::after {
                content: '—';
                margin-left: 16px;
            }
        }

        .inputEmail {
            border: none;
            border-bottom: 2px solid var(--darkBlue-moura);

            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;

            margin-left: .5rem;
            margin-bottom: 5%;
            padding: 0.5rem 1rem 0;

            background: transparent;

            width: 80%;

            &:focus {
                outline: none;
                color: var(--darkBlue-moura);
                border-bottom: 3px solid var(--darkBlue-moura);

            }

            &::placeholder {
                color: var(--darkBlue-moura);
                font-size: 1rem;
            }
        }
    }
}